<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <title>Guitar Galaxy | @ViewBag.Title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">-->
    <link href="//cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="~/Content/custom.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/css/style.css">
    <link rel="stylesheet" href="~/Content/css/animate.css" />
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet">
    <script src="~/Content/js/modernizr-3.5.0.min.js"></script>
</head>
<body>

    <div class="row top-bar">
        <div class="col-sm-7"></div>
        <div class="col-sm-4 col-6 login">
            @*<a href="@Url.Action("Login", "Account")" class="text-white">Login</a> &nbsp; &nbsp;
                <a href="@Url.Action("Register", "Account")" class="text-white">Sign Up</a>*@
            @Html.Partial("_LoginPartial")
        </div>
    </div>

    <nav class="navbar navbar-expand-lg nav-bar navbar-light bg-gry">
        <div class="container">
            <a class="navbar-brand" href="@Url.Action("Index","Home")">GUITAR <span class="navbar-brand2"> GALAXY</span></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto navi">
                    <li class="nav-item">
                        <a class="nav-link nav-btn" href="@Url.Action("Index", "Home")">HOME</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-btn" href="@Url.Action("Index", "Products")">PRODUCTS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-btn" href="@Url.Action("Contact", "Home")">CONTACT</a>
                    </li>
                    @if (Request.IsAuthenticated && User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item">
                            <a class="nav-link nav-btn" href="/ShoppingCart/Index">
                                <i class="fa fa-shopping-cart"></i>&nbsp; CART
                            </a>
                        </li>
                    }

                </ul>
            </div>
        </div>
    </nav>

    @RenderBody()

    @*<div class="smoke">
            <div class="container" id="fh5co-contact">
                <div class="heading animate-box"><h2><b>CONTACT US</b></h2></div>
                <div class="text-center animate-box"><h3>Lorem ipsum lahore</h3></div>
                <div class="row animate-box">
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                        <form>
                            <div class="form-group">
                                <label for="formGroupExampleInput">Name</label>
                                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Name">
                            </div>
                            <div class="form-group">
                                <label for="formGroupExampleInput2">Email</label>
                                <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Email">
                            </div>
                            <div class="form-group">
                                <label for="formGroupExampleInput2">Email</label>
                                <textarea class="form-control" rows="5" placeholder="Msg Here"></textarea>
                            </div>
                            <button class="btn btn-banner">Send</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>*@

    <div class="signup">

    </div>


    <div class="dark">
        <div class="container animate-box" id="fh5co-footer">
            <div class="row">
                <div class="col-sm-4">
                    <div><a class="nsavbar-brand text-prpl" href="#">GUITAR <span class="navbar-brand2 text-red">GALAXY</span></a></div>
                    <br>
                    <div class="text-white">
                        Get amazing results working with the best programmers, designers, writers and
                        other top online pros. You can hire us with confidence. Get amazing results working with the best
                        programmers
                    </div>
                </div>
                <div class="offset-4 col-sm-4">
                    <div class="icons">Explore Our Pages</div>
                    <br>
                    <table width="100%">
                        <tr>
                            <td><a class="text-white" href="@Url.Action("Index", "Home")">Home</a></td>
                            <td><a class="text-white" href="@Url.Action("Index","Products")">Shop</a></td>
                        </tr>
                        <tr>
                            <td><a class="text-white" href="#!">Services</a></td>
                            <td><a class="text-white" href="#!">Cart</a></td>
                        </tr>
                        <tr>
                            <td><a class="text-white" href="@Url.Action("Contact", "Home")">Contact</a></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="darker">
        <div class="container" id="fh5co-legal">
            <div class="row">
                <div class="col-sm-8 text-white mtext-center">
                    &copy; @DateTime.Now.Year <a class="text-prpl" href="#">GUITAR <span class="navbar-brand2 text-red">GALAXY</span></a>
                </div>
            </div>
        </div>
    </div>
    @if (Request.IsAuthenticated && User.IsInRole("Admin"))
    {
        <!-- Admin Button -->
        <div id="admin-btn" class="button" onclick="openAdminNav()">
            <span class="vertical-text">ADMIN</span>
        </div>

        <!-- Admin Navigation -->
        <div id="admin-nav" class="sidenav">
            <a href="javascript:void(0)" class="close-btn" onclick="closeAdminNav()"> &times;</a>
            <a href="@Url.Action("Index", "RolesAdmin")">Manage Roles</a>
            <a href="@Url.Action("Index", "UsersAdmin")">Manage Users</a>
        </div>
    }


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
   
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Content/js/fontawesome.js"></script>
    <script src="~/Content/js/jquery.waypoints.min.js"></script>
    <script src="~/Content/js/animate.js"></script>
    @Scripts.Render("~/bundles/bootstrap")


    @* DataTables Scripts *@
    @*
    <script src="~/Scripts/DataTables/"></script>*@
    @RenderSection("Scripts", required: false)

    <script>
        $(function () {
            $('.navbar-nav > li a').each(function () {
                if ($(this).attr('href') == window.location.pathname) {
                    $(this).addClass('active');
                }
            });
        });

        function openAdminNav() {
            document.getElementById('admin-btn').style.display = "none";
            document.getElementById('admin-nav').style.width = "275px";
        }

        function closeAdminNav() {
            document.getElementById('admin-btn').style.display = "block";
            document.getElementById('admin-nav').style.width = "0";
        }
    </script>


</body>
</html>
