@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <div id="login">
            <a href="@Url.Action("Index", "Manage")" title="Manage" class="text-white">
                Hello @User.Identity.GetUserName()! |
            </a>
            <a href="javascript:document.getElementById('logoutForm').submit()" class="text-white">Log off</a>
        </div>
    }
}
else
{
        <div id="login">
            <a href="@Url.Action("Register", "Account")" class="text-white">Register</a> |
            <a href="@Url.Action("Login", "Account")" class="text-white">Log in</a>
        </div>
}