@model IEnumerable<StoreFrontLab.DATA.EF.Product>

@{
    ViewBag.Title = "Products";
}

<h2 class="text-center">@ViewBag.Title</h2>

    <div class="row">
        <div class="offset-md-1 col-md-10">
            @if (Request.IsAuthenticated && User.IsInRole("Admin"))
            {
                <p>
                    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-success" })
                </p>
            }
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ProductName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Price)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.UnitsSold)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Model)
                    </th>
                    @*<th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>*@
                    <th>
                        @Html.DisplayNameFor(model => model.ProductImage)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ProductMake.MakeName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ProductStatus.ProductStatusName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ProductType.TypeName)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProductName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Price)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UnitsSold)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Model)
                        </td>
                        @*<td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>*@
                        <td>
                            <img src="~/Content/images/t_@item.ProductImage" alt="@item.ProductName" title="@item.ProductName" />
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProductMake.MakeName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProductStatus.ProductStatusName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProductType.TypeName)
                        </td>
                        <td>
                            @Html.ActionLink("Details", "Details", new { id = item.ProductID }, new { @class = "btn btn-info btn-sm align-middle" })
                            &nbsp;
                            @if (User.IsInRole("Admin") && Request.IsAuthenticated)
                            {
                                @Html.ActionLink("Edit", "Edit", new { id = item.ProductID }, new { @class = "btn btn-dark btn-sm align-bottom" })
                                @:&nbsp;
                                @Html.ActionLink("Delete", "Delete", new { id = item.ProductID }, new { @class = "btn btn-danger btn-sm align-middle" })
                            }
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
